mixin main-nav()

  //- Use:
    +main-nav()

  nav.main-nav(role='navigation')
    ul.main-nav__list
      block



mixin main-nav-item(href, name, iconName, hasChild)

  //- Use:
    +main-nav-item('link', 'link name', '#icon-name')
      or
    +main-nav-item('link', 'link name', '#icon-name', 'hasChild')

  if (typeof(hasChild) !== 'undefined' && hasChild)
    li.main-nav__item
      a.main-nav__link(href=href)
        .main-nav__link-desc
          svg(width='63' height='63'): use(xlink:href=iconName)
          span #{name}
      ul.main-nav__sublist
        block

  else
    li.main-nav__item
      a.main-nav__link(href=href)
        .main-nav__link-desc
          svg(width='63' height='63'): use(xlink:href=iconName)
          span #{name}



mixin main-nav-sublist-item(href, name)

  //- Use
  //- +main-nav-item('link', 'link name')

  li.main-nav__sublist-item: a.main-nav__sublist-link(href=href) #{name}
