.main-nav {

  @media (max-width: ($screen-sm - 1)) {
    display: none;
  }

  &__list {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
  }

  &__item {
    border-left: 1px solid $border-color;
    position: relative;

    &:last-child {
      border-right: 1px solid $border-color;
    }

    &:hover,
    &:focus-within {

      > .main-nav__link {
        background-color: $accent-color-main;
        color: $text-color--lightest;

        .main-nav__link-desc {
          background-color: $bg-color--darkest;
        }
      }

      > .main-nav__sublist {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }
  }

  &__link {
    display: inline-block;
    vertical-align: middle;
    background-color: $bg-color--default;
    min-width: 100px;
    max-width: 100px;
    cursor: pointer;
    display: flex;
    color: $gray;
  }

  &__link-desc {
    background-color: inherit;
    width: 100px;
    height: 120px;
    align-self: flex-end;
    border-top-right-radius: 27px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-transform: uppercase;

    svg {
      fill: currentColor;
      margin-bottom: 1.25rem;
    }
  }

  &__sublist {
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: rgba($bg-color--default, 0.8);
    border-radius: 8px;
    padding: 0.75rem;
    margin: 0;
    min-width: 10rem;
    left: -0.875rem;
    color: $accent-color-main;
    font-size: 0.875rem;
    letter-spacing: 0.025em;

    &:hover,
    &:focus-within {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }

  &__sublist-item {

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }
  }

  &__sublist-link {
    color: currentColor;
    display: block;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -0.25rem;
      right: 0;
      bottom: -0.25rem;
      left: 0;
    }
  }
}