.promo {
  background-color: #31658b;
  background-image: url(../img/promo--bg.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  min-height: 65vw;
  display: flex;

  &__inner {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 5rem;

    @media (min-width: $screen-sm) {
      padding-top: 10rem;
    }
  }

  &__slogan {

    svg {
      width: 80vw;
      height: 20vw;

      @media (min-width: $screen-sm) {
        width: 60vw;
        height: 100px;
      }

      @media (min-width: $screen-md) {
        width: 50vw;
        height: 126px;
      }

      @media (min-width: $screen-lg) {
        width: 50vw;
        height: 126px;
      }
    }
  }
}