mixin promo()

  //- Use:
    +promo()

  section.promo
    .promo__inner
      .promo__slogan
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 877.62 125.99', width='878', height='126', preserveAspectRatio="xMinYMid slice")
          title Lambert O Neill
          g
            path(fill='#fff', d='M103.18 126h774.44V0H0l55.92 98.48A54.32 54.32 0 0 0 103.18 126z', opacity='.8')
          g
            text(font-family='Anton', font-size='52.97', transform='translate(134.38 61.17)', style='text-transform: uppercase;') Lambert O'Neill
            text(fill='#d52328', font-family='Questrial', font-size='43.81', transform='translate(133.38 106.82)') Build to Last
