.page-header {
  background-color: $bg-color--default;

  @media (max-width: ($screen-sm - 1)) {
    padding: 1rem;
  }

  &__inner {
    position: relative;
    max-width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: 2;

    .logo {

      svg {
        width: 107px;
        height: 53px;

        @media (min-width: $screen-sm) {
          width: 168px;
          height: 83px;
        }
      }
    }
  }

  &__menu {
    z-index: 2;

    @media (min-width: $screen-sm) and (max-width: ($screen-lg - 1)) {
      position: absolute;
      top: calc(100% + 1.5rem);
      right: 0;
    }

    ul {
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      width: 100%;

      @media (min-width: $screen-sm) {
        flex-flow: column nowrap;
      }

      li {
        display: inline-block;

        @media (min-width: $screen-sm) {

          &:not(:last-child) {
            margin-bottom: 0.5rem;
          }
        }

        a {
          display: inline-block;

          &:hover {

            svg .undershape {
              transform: translate3d(0,0,0);
              transition: all 0.4s cubic-bezier(.11,.64,.32,.98) 0s;
            }
          }
        }

        svg {
          vertical-align: middle;
          width: 40px;

          @media (min-width: $screen-sm) {
            width: 202px;
          }
        }

        svg #login-shape,
        svg #call-shape {
          display: none;

          @media (min-width: $screen-sm) {
            display: block;
          }
        }

        svg #login-icon,
        svg #call-icon {
          transform: translate3d(-15px,0,0);

          @media (min-width: $screen-sm) {
            fill: $white;
            transform: translate3d(0,0,0);
          }
        }

        svg #login-icon {
          fill: $accent-color-main;
        }

        svg #call-icon {
          fill: $text-color;
        }

        svg .undershape {
          transform: translate3d(100%,0,0);
          transition: all 0.4s cubic-bezier(.11,.64,.32,.98) 0.1s;
        }
      }
    }
  }

  &__hamburger {
    display: none;
    z-index: 2;

    @media (max-width: ($screen-sm - 1)) {
      display: block;
    }
  }
}