mixin page-header(mods)

  //- Param:
    mods: {string} - modifiers

  //- Use:
    +page-header()
      div header content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods, role='banner')&attributes(attributes)
    .page-header__inner

      .page-header__logo
        +logo('index.html')

      .page-header__nav
        +main-nav()
          +main-nav-item('/', 'Construction', '#construction', 'hasChild')
            +main-nav-sublist-item('/', 'Highrise')
            +main-nav-sublist-item('/', 'Unit Development')
            +main-nav-sublist-item('/', 'Commercial')
            +main-nav-sublist-item('/', 'Luxury Homes')
            +main-nav-sublist-item('/', 'Renovations')
            +main-nav-sublist-item('/', 'Medical')
          +main-nav-item('/', 'Maintenance', '#maintenance', 'hasChild')
            +main-nav-sublist-item('/', 'Residential')
            +main-nav-sublist-item('/', 'Strata Management')
            +main-nav-sublist-item('/', 'Commercial')
            +main-nav-sublist-item('/', 'Industrial')
            +main-nav-sublist-item('/', 'Medical')
            +main-nav-sublist-item('/', 'Aged Care')
            +main-nav-sublist-item('/', 'HIgh Care')
          +main-nav-item('/', 'Capacity', '#capacity')
          +main-nav-item('/', 'Projects', '#projects')
          +main-nav-item('/', 'Contacts', '#contacts')

      .page-header__menu
        ul
          li: a(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 201.17 38.4', width='202', height='39', preserveAspectRatio="xMinYMid slice")
              g(id='login-shape')
                path(fill='#d52328', d='M201.17 38.4h-161a29.43 29.43 0 0 1-25-13.95L0 0h201.17z')
                path(class='undershape', fill='#000' d='M201.17 38.4h-161a29.43 29.43 0 0 1-25-13.95L0 0h201.17z')
                text(fill='#fff', font-size='15', transform='translate(55.06 24.45)', style='text-transform: uppercase;') Customer login
              g(id='login-icon')
                path(d='M34.39 30.65A11.6 11.6 0 0 1 23 21.51a11.42 11.42 0 0 1 7.11-12.94 11.64 11.64 0 0 1 15.45 7.5 11.43 11.43 0 0 1-8.3 14.21 13.94 13.94 0 0 1-1.41.26c-.48.06-.97.07-1.46.11zm0-1.08c.78-.11 1.56-.16 2.32-.33a10.29 10.29 0 0 0 7.82-12.67 10.51 10.51 0 0 0-13.83-7 10.28 10.28 0 0 0-6.57 11.63 10.56 10.56 0 0 0 10.26 8.37z')
                circle(cx='34.38', cy='16', r='3.17')
                path(d='M29.18 24.37a5.21 5.21 0 1 1 10.41 0z')
          li: a(href='/')
            svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 201.17 38.4', width='202', height='39', preserveAspectRatio="xMinYMid slice")
              g(id='call-shape')
                path(fill='#000' d='M201.17 38.4h-161a29.43 29.43 0 0 1-25-13.95L0 0h201.17z')
                path(class='undershape', fill='#d52328' d='M201.17 38.4h-161a29.43 29.43 0 0 1-25-13.95L0 0h201.17z')
                text(fill='#fff', font-size='15', transform='translate(55.06 24.74)', style='text-transform: uppercase;') Call
              g(id='call-icon')
                path(d='M34.39 30.65A11.6 11.6 0 0 1 23 21.51a11.42 11.42 0 0 1 7.11-12.94 11.64 11.64 0 0 1 15.45 7.5 11.43 11.43 0 0 1-8.3 14.21 13.94 13.94 0 0 1-1.41.26c-.48.06-.97.07-1.46.11zm0-1.08c.78-.11 1.56-.16 2.32-.33a10.29 10.29 0 0 0 7.82-12.67 10.51 10.51 0 0 0-13.83-7 10.28 10.28 0 0 0-6.57 11.63 10.56 10.56 0 0 0 10.26 8.37z')
                path(d='M28.84 15.71a3.71 3.71 0 0 1 1.79-3.3 2.82 2.82 0 0 1 .46-.23 1.34 1.34 0 0 1 1.73.36 4.08 4.08 0 0 1 1 1.58 1.35 1.35 0 0 1 0 1 2.81 2.81 0 0 1-.82 1.11 7.38 7.38 0 0 1-.64.5 1.48 1.48 0 0 0-.53 1.85 12.25 12.25 0 0 0 1.7 2.93 6.91 6.91 0 0 0 .76.77 1.23 1.23 0 0 0 1.37.17l.85-.41a2.54 2.54 0 0 1 1.58-.2 1.46 1.46 0 0 1 .63.29A3.77 3.77 0 0 1 39.86 24a1.21 1.21 0 0 1-.34 1.31 3.47 3.47 0 0 1-3.64.86 5.64 5.64 0 0 1-2.24-1.37A16.08 16.08 0 0 1 29 17a11.51 11.51 0 0 1-.16-1.29z')

      .page-header__hamburger
        +burger('Show main navigation', 'mobile-menu', 'mobile-menu--is-shown')
