mixin mobile-menu()

  //- Use:
    +mobile-menu()

  .mobile-menu#mobile-menu
    .mobile-menu__inner
      ul.mobile-menu__nav-list
        +mobile-nav-item('/', 'Construction', '#construction', 'hasChild')
          +mobile-nav-sublist-item('/', 'Highrise')
          +mobile-nav-sublist-item('/', 'Unit Development')
          +mobile-nav-sublist-item('/', 'Commercial')
          +mobile-nav-sublist-item('/', 'Luxury Homes')
          +mobile-nav-sublist-item('/', 'Renovations')
          +mobile-nav-sublist-item('/', 'Medical')
        +mobile-nav-item('/', 'Maintenance', '#maintenance', 'hasChild')
          +mobile-nav-sublist-item('/', 'Residential')
          +mobile-nav-sublist-item('/', 'Strata Management')
          +mobile-nav-sublist-item('/', 'Commercial')
          +mobile-nav-sublist-item('/', 'Industrial')
          +mobile-nav-sublist-item('/', 'Medical')
          +mobile-nav-sublist-item('/', 'Aged Care')
          +mobile-nav-sublist-item('/', 'HIgh Care')
        +mobile-nav-item('/', 'Capacity', '#capacity')
        +mobile-nav-item('/', 'Projects', '#projects')
        +mobile-nav-item('/', 'Contacts', '#contacts')

mixin mobile-nav-item(href, name, iconName, hasChild)

  //- Use:
    +mobile-nav-item('link', 'link name', '#icon-name')
      or
    +mobile-nav-item('link', 'link name', '#icon-name', 'hasChild')

  if (typeof(hasChild) !== 'undefined' && hasChild)
    li.mobile-menu__nav-item.mobile-menu__nav-item--has-child
      .mobile-menu__nav-item-inner
        button.mobile-menu__nav-btn(type='button', aria-label='Show nav sublist')
          svg(width='40' height='40'): use(xlink:href=iconName)
        a.mobile-menu__nav-link(href=href)!= name
      ul.mobile-menu__nav-sublist
        block

  else
    li.mobile-menu__nav-item
      .mobile-menu__nav-item-inner
        .mobile-menu__icon
          svg(width='40' height='40'): use(xlink:href=iconName)
        a.mobile-menu__nav-link(href=href)!= name



mixin mobile-nav-sublist-item(href, name)

  //- Use
  //- +mobile-nav-sublist-item('link', 'link name')

  li.mobile-menu__nav-sublist-item: a.mobile-menu__nav-sublist-link(href=href) #{name}