.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: $bg-color--default;
  will-change: transform;
  transform: translate3d(100%,0,0);
  padding-top: 6rem;

  @media (min-width: $screen-sm) {
    display: none;
  }

  &__inner {
    overflow-y: scroll;
    height: 100%;
  }

  &__nav-list {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
  }

  &__nav-item {
    border-bottom: 1px solid $border-color;
    position: relative;

    &--is-active,
    &:hover {

      > .mobile-menu__nav-item-inner {
        background-color: $accent-color-main;
        color: $text-color--lightest;
      }

      .mobile-menu__nav-btn,
      .mobile-menu__icon {
        background-color: $bg-color--darkest;
      }
    }
  }

  &__nav-item-inner {
    background-color: $bg-color--default;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: $gray;
  }

  &__nav-btn,
  &__icon {
    padding: 0;
    background-color: inherit;
    width: 84px;
    height: 70px;
    align-self: flex-start;
    border-top-right-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: currentColor;

    svg {
      fill: currentColor;
    }
  }

  &__nav-link {
    color: currentColor;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-left: 1rem;
    display: block;
  }

  &__nav-sublist {
    max-height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    letter-spacing: 0.025em;
    color: $accent-color-main;

    &--is-open {
      max-height: 100%;
    }
  }

  &__nav-sublist-item {
    border-top: 1px solid $border-color;
  }

  &__nav-sublist-link {
    color: currentColor;
    display: block;
    position: relative;
    padding-left: 5.25rem;
    line-height: 3.25rem;
  }

  &--is-shown {
    transform: translate3d(0,0,0);
  }
}