include ../blocks/promo/promo.pug
include ../blocks/dropcap/dropcap.pug
include ../blocks/page-header/page-header.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/sprite-svg/sprite-svg.pug
include ../blocks/btn/btn.pug
include ../blocks/page/page.pug
include ../blocks/partners/partners.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/hamburger/hamburger.pug
include ../blocks/mobile-menu/mobile-menu.pug
