mixin partners()

  .partners
    .partners__inner
      ul.partners__list
        +partners-item('img/mpa.png')
        +partners-item('img/mbwa.jpg')
        +partners-item('img/neca.jpg')
        +partners-item('img/ame.png')

mixin partners-item(src)

  li.partners__item
    img(src=src, alt='')