.partners {
  background-color: $bg-color--default;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @media (min-width: $screen-sm) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__inner {
    max-width: $screen-lg;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: column nowrap;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0;
  }

  &__item {
    width: 35%;
    height: 100px;
    padding: 1rem;

    @media (min-width: $screen-xs) {
      width: 20%;
    }

    @media (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
    }
  }
}