mixin logo(href, mods)

  //- Param:
    href  {string} - link
    mods  {string} - modifiers

  //- Use:
    +logo('/')
      or
    +logo(false, 'mod-name')
  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }

  a.logo(class=allMods, href=href)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 254.69 125.67', width='107', height='53')
      title Lambert Oneil
      path(fill='#000000' d='M12.6 125.48H0v-18a1.76 1.76 0 0 1 .58-1.4 2 2 0 0 1 1.35-.51 2 2 0 0 1 1.34.51 1.76 1.76 0 0 1 .58 1.4v14.17h8.76a1.79 1.79 0 0 1 1.4.57 2 2 0 0 1 0 2.69 1.78 1.78 0 0 1-1.41.57zM34.63 122.91a2.32 2.32 0 0 1 .13.7 1.72 1.72 0 0 1-.61 1.35 2.1 2.1 0 0 1-1.41.52 1.7 1.7 0 0 1-1.74-1.26l-1.24-3.42h-8.08l-1.25 3.41a1.72 1.72 0 0 1-1.75 1.27 2 2 0 0 1-1.37-.52 1.68 1.68 0 0 1-.6-1.32 2.12 2.12 0 0 1 .13-.73l5.5-15.41a3.26 3.26 0 0 1 3.41-2.13 3.28 3.28 0 0 1 3.44 2.16zm-6.19-5.86l-2.74-7.67-2.7 7.67zM58.4 123.56a1.8 1.8 0 0 1-.57 1.43 2 2 0 0 1-1.35.49 2 2 0 0 1-1.37-.49 1.82 1.82 0 0 1-.56-1.42v-6.65l-6.39 8.28-6.4-8.28v6.65a1.82 1.82 0 0 1-.56 1.43 2 2 0 0 1-1.37.49 2 2 0 0 1-1.35-.49 1.8 1.8 0 0 1-.57-1.43v-18.08l10.25 12.89 10.24-12.89zM78.33 119a5.88 5.88 0 0 1-2.13 5 8.58 8.58 0 0 1-5.38 1.53h-9v-19.94h8.69a6.32 6.32 0 0 1 4.14 1.47 5.2 5.2 0 0 1 2 4.21 4.93 4.93 0 0 1-1.08 3.15 5.19 5.19 0 0 1 2.76 4.58zm-5.54-7.78a1.7 1.7 0 0 0-.62-1.29 2.37 2.37 0 0 0-1.65-.56h-4.83v4h4.83a2.25 2.25 0 0 0 1.56-.64 2 2 0 0 0 .71-1.47zm1.69 7.78a1.63 1.63 0 0 0-.64-1.19 5.07 5.07 0 0 0-3.31-.9h-4.84v4.72h5.09a5.73 5.73 0 0 0 2.62-.45 2.34 2.34 0 0 0 1.08-2.18zM93.42 125.48H81.48v-19.89h11.94a1.77 1.77 0 0 1 1.41.57 2 2 0 0 1 .49 1.34 2 2 0 0 1-.49 1.35 1.79 1.79 0 0 1-1.41.56h-8.09v3h4.91a1.74 1.74 0 0 1 1.41.58 2 2 0 0 1 .49 1.33 2 2 0 0 1-.49 1.36 1.79 1.79 0 0 1-1.41.55h-4.91v5.45h8.09a1.77 1.77 0 0 1 1.41.57 2 2 0 0 1 .49 1.33 2 2 0 0 1-.49 1.36 1.79 1.79 0 0 1-1.41.54zM114.42 112.07a6.91 6.91 0 0 1-1.2 4.07 5.93 5.93 0 0 1-3.49 2.39l3.52 3.7a1.81 1.81 0 0 1 .57 1.31 2 2 0 0 1-2 1.94 1.79 1.79 0 0 1-1.33-.6l-8.82-9.26v7.95a1.75 1.75 0 0 1-.58 1.42 2.12 2.12 0 0 1-2.71 0 1.8 1.8 0 0 1-.56-1.42v-18h10.25a6 6 0 0 1 4.55 1.89 6.44 6.44 0 0 1 1.8 4.61zm-3.85 0a2.41 2.41 0 0 0-.9-1.91 3.15 3.15 0 0 0-2.07-.76h-5.91v5.73h5.5a4.31 4.31 0 0 0 2.53-.57 3.08 3.08 0 0 0 .85-2.48zM132.5 109.41h-4.42v14.16a1.78 1.78 0 0 1-.58 1.42 2 2 0 0 1-1.35.49 2 2 0 0 1-1.36-.49 1.77 1.77 0 0 1-.57-1.42v-14.16h-5a1.82 1.82 0 0 1-1.4-.56 2 2 0 0 1 0-2.69 1.77 1.77 0 0 1 1.4-.57h13.28a1.79 1.79 0 0 1 1.42.57 2 2 0 0 1 .49 1.34 2 2 0 0 1-.49 1.35 1.82 1.82 0 0 1-1.42.56zM166.27 115.54a10.38 10.38 0 0 1-2.55 7.36 10.67 10.67 0 0 1-14.41-.06 10.11 10.11 0 0 1-2.61-7.3 10.34 10.34 0 0 1 2.59-7.41 10.72 10.72 0 0 1 14.37 0 10.37 10.37 0 0 1 2.61 7.41zm-3.85 0q0-6.36-5.92-6.35t-5.95 6.35a6.62 6.62 0 0 0 1.52 4.64 5.66 5.66 0 0 0 4.43 1.68q5.91 0 5.92-6.32zM174.9 111.42a2.36 2.36 0 0 1-.56 1.67 1.8 1.8 0 0 1-1.35.59 1.87 1.87 0 0 1-1.88-2v-4.77a2.38 2.38 0 0 1 .6-1.69 1.92 1.92 0 0 1 2.64 0 1.84 1.84 0 0 1 .55 1.4zM196.38 125.39l-13.81-11.75v9.85a1.77 1.77 0 0 1-.57 1.41 2 2 0 0 1-1.36.49 2 2 0 0 1-1.35-.49 1.78 1.78 0 0 1-.58-1.42v-17.89l13.82 10.54v-8.63a1.82 1.82 0 0 1 .56-1.4 2.06 2.06 0 0 1 2.71 0 1.76 1.76 0 0 1 .58 1.4zM211.63 125.48h-11.94v-19.89h11.94a1.77 1.77 0 0 1 1.41.57 2 2 0 0 1 .49 1.34 2 2 0 0 1-.49 1.35 1.79 1.79 0 0 1-1.41.56h-8.09v3h4.91a1.74 1.74 0 0 1 1.41.58 2 2 0 0 1 .49 1.33 2 2 0 0 1-.49 1.36 1.79 1.79 0 0 1-1.41.55h-4.91v5.45h8.09a1.77 1.77 0 0 1 1.41.57 2 2 0 0 1 .49 1.33 2 2 0 0 1-.49 1.36 1.79 1.79 0 0 1-1.41.54zM220 123.57a1.8 1.8 0 0 1-.56 1.42 2 2 0 0 1-1.37.49 2 2 0 0 1-1.35-.49 1.77 1.77 0 0 1-.57-1.42V107.5a1.79 1.79 0 0 1 .57-1.4 2 2 0 0 1 1.35-.51 2 2 0 0 1 1.37.51 1.82 1.82 0 0 1 .56 1.4zM236.1 125.48h-12.6v-18a1.79 1.79 0 0 1 .57-1.4 2 2 0 0 1 2.7 0 1.76 1.76 0 0 1 .58 1.4v14.17h8.76a1.77 1.77 0 0 1 1.39.57 1.93 1.93 0 0 1 .51 1.33 2 2 0 0 1-.51 1.36 1.81 1.81 0 0 1-1.4.57zM252.78 125.48h-12.61v-18a1.79 1.79 0 0 1 .58-1.4 2 2 0 0 1 2.7 0 1.79 1.79 0 0 1 .58 1.4v14.17h8.75a1.77 1.77 0 0 1 1.4.57 1.93 1.93 0 0 1 .51 1.33 2 2 0 0 1-.51 1.36 1.81 1.81 0 0 1-1.4.57zM67.79 30c-.11-.12-.22-.23-.34-.34a6 6 0 0 0-.49-.39 3.36 3.36 0 0 0-.51-.32c-.11-.06-.23-.1-.34-.15a5 5 0 0 0-1.88-.37H64a4.58 4.58 0 0 0-3.84 2.45l-13.78 26h35.7l-14-26.49a3.93 3.93 0 0 0-.29-.39z')
      path(fill='#d52328', d='M128.42 56.84a11.47 11.47 0 0 1-10.16-6.13L106.5 28.42H70.81a7.72 7.72 0 0 1 .57.91l16.37 31h-.09l7.28 13.77a14.71 14.71 0 0 0 13 7.84h51.44l-13.21-25.1zM172.6 25l14 26.5a3.81 3.81 0 0 0 .29.41c.11.12.22.24.34.35a4.45 4.45 0 0 0 .48.38 3.61 3.61 0 0 0 .53.33c.09 0 .19.08.28.12a5 5 0 0 0 1.93.39h.22a4.56 4.56 0 0 0 3.85-2.48l13.77-26z')
      path(fill='#000000' d='M159.74 7.84a14.67 14.67 0 0 0-13-7.84H128l28.22 53.48h27.66L167 21.61zM109.41 26.74l.88 1.68 10.94 20.73a8.12 8.12 0 0 0 7.19 4.33h24L124.21 0H95.3l13.22 25.06z')

