.page-footer {
  background-color: $bg-color--default;
  padding-top: 2rem;
  padding-bottom: 4rem;

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  &__contact-list {
    display: flex;
    flex-flow: row nowrap;
  }

  &__contact-item {

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__contact-link {
    text-align: center;
    color: currentColor;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    letter-spacing: 0.025em;

    @media (min-width: $screen-sm) {
      font-size: 1.25rem;
    }

    svg {
      margin-bottom: 1rem;

      @media (max-width: ($screen-sm - 1)) {
        width: 67px;
        height: 67px;
      }
    }

    span {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        background-color: currentColor;
        height: 2px;
        width: 100%;
        bottom: -0.25rem;
        left: 0;
      }
    }
  }
}