mixin page-footer(mods)

  //- Param:
    mods  {string} - modifiers

  //- Use:
    +page-footer()
      div footer content

  -
    // Modifiers
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods, role='contentinfo')&attributes(attributes)
    .page-footer__inner
      ul.page-footer__contact-list
        li.page-footer__contact-item
          a.page-footer__contact-link(href='/')
            svg(width="81" height="81"): use(xlink:href="#locate-us")
            span Locate us
        li.page-footer__contact-item
          a.page-footer__contact-link(href='/')
            svg(width="81" height="81"): use(xlink:href="#contact-us")
            span Contact us