extends pug/layout.pug

block meta
  - var title = 'Lambert O\'neil';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  +mobile-menu()
  +promo()
  +partners()

block footer
  +page-footer()