@font-face {
  font-family: Questrial;
  src: url('../fonts/questrial-400-normal.woff2') format('woff2'),
       url('../fonts/questrial-400-normal.woff') format('woff'),
       url('../fonts/questrial-400-normal.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: Anton;
  src: url('../fonts/anton-400-regular.woff') format('woff2'),
       url('../fonts/anton-400-regular.woff') format('woff'),
       url('../fonts/anton-400-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}