// Width

$screen-xs:                   480px;
$screen-sm:                   768px;
$screen-md:                   992px;
$screen-lg:                   1170px;
$screen-xl:                   1440px;
$screen-xxl:                  1920px;


// Colors

$black:                       hsl(0, 0%, 0%);
$gray-darkest:                hsl(0, 0%, 15%);
$gray-darker:                 hsl(0, 0%, 20%);
$gray-darken:                 hsl(0, 0%, 30%);
$gray-dark:                   hsl(0, 0%, 40%);
$gray:                        hsl(0, 0%, 52%);
$gray-light:                  hsl(0, 0%, 60%);
$gray-lighten:                hsl(0, 0%, 70%);
$gray-lighter:                hsl(0, 0%, 85%);
$gray-lightest:               hsl(0, 0%, 97%);
$white:                       hsl(0, 0%, 100%);

$text-color:                  $black;
$text-color--lighter:         $gray;
$text-color--lightest:        $white;

$bg-color--lighter:           $gray-lighter;
$bg-color--default:           $white;
$bg-color--darker:            $gray-darker;
$bg-color--darkest:           $black;

$accent-color-main:           #d52328;

// $nav-link-color:              ;
// $nav-link-color-hover:        ;

// $box-shadow:                  ;

$hamburger-color:             currentColor;
$hamburger-width:             30px;
$hamburger-height:            30px;

// $button-main-color:           ;
// $button-main-bg-color:        ;
// $button-main-bg-hover:        ;

// $button-ghost-color:          ;
// $button-ghost-bg-color:       transparent;
// $button-ghost-border-color:   ;

// $input-border:                ;
// $input-border-focus:          ;

$border-color:                #d9d9d9;
$border-radius:               2px;


// Typography

$font-family:                 Questrial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$font-family--sans:           "Times New Roman", Times, Georgia, sans-serif;
$font-family--monospace:      Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;