mixin burger(label, targetId, switchableClass)

  //- Param:
    label:           {string} - aria-label
    targetId:        {string} - target id
    switchableClass: {string} - class, will add or remove

  //- Use:
    +burger('Show main navigation', 'main-nav', 'main-nav--is-shown')

  -
    label = label || 'Toggle block ' + targetId

    if (typeof(targetId) !== 'undefined' && targetId !== '') attributes['data-target-id'] = targetId

    if (typeof(switchableClass) !== 'undefined' && switchableClass !== '') attributes['data-target-class-toggle'] = switchableClass

  button.hamburger(aria-label=label)&attributes(attributes)
    span
