.hamburger {
  position: relative;
  z-index: 1;
  line-height: 30px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  display: inline-block;
  width: $hamburger-width;
  height: $hamburger-height;
  padding: 0;
  vertical-align: middle;

  &::before {
    position: absolute;
    content: '';
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  > span {
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    background-color: $hamburger-color;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: inherit;
      height: 2px;
      width: 100%;
      display: block;
      left: 0;
    }

    &::before {
      top: -0.75rem;
    }

    &::after {
      top: 0.75rem;
    }
  }

  &--is-active {}
}